@model List<WebApplication3.Models.ProductModel>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td><img src="@product.ProductImageUrl" alt="Product Image" width="100" height="100" /></td>
                <td>@product.ProductPrice</td>
                <td>
                    <a href="@Url.Action("View", "Product", new { id = product.ProductId })" class="btn btn-primary">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
