@model WebApplication3.Models.UpdateProductModel

<h2> Edit </h2>

<form asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductImageUrl" class="control-label"></label>
        <input asp-for="ProductImageUrl" class="form-control" />
        <span asp-validation-for="ProductImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductPrice" class="control-label"></label>
        <input asp-for="ProductPrice" class="form-control" />
        <span asp-validation-for="ProductPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductDetails" class="control-label"></label>
        <input asp-for="ProductDetails" class="form-control" />
        <span asp-validation-for="ProductDetails" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update Product" class="btn btn-primary" />
    </div>
</form>
